.show{
  opacity: 1;
  transition: all 2s ease-in;
}
.hide{
  animation: hideItem 2s ease-in forwards;
}

@keyframes hideItem{
  0% {
    opacity: 1;
    color:red;
  }
  50%{
    opacity: 0.5;
    color: green;
  }
  100%{
    opacity: 0;
    color: blue;
  }
}